
.c-colldiv {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.c-rrow{
  overflow: hidden;
  transition: height 0.2s ease-out;
}
.c-spacer{
  height: max-content;
}

.c-rowid{
  height: 0;
  position: relative;
  left: -8px;
  top: -10px;
  color: blue;
}

.c-padding{
  padding: 6px 0 !important;
}

input {
  width: 100%;
  color: inherit;
}

input:read-only, textarea:read-only {
  background: none;
}
input:-moz-read-only, textarea:-moz-read-only{
  background: none;
}
textarea{
  width: 100%;
  color: inherit;
  resize: none;
  /*min-height: 40px;*/
  /*height: 100%;*/
}
.ta160, .ta300{
  /*height: 50px;*/
  min-height: 50px;
 }
.ta50 {
  /*height: 32px;*/
  height: max-content;
  min-height: 32px;
  max-height: 50px;
}
.ta160 {
  max-height: 115px;
}
.ta300 {
  max-height: 225px;
}

#close_sidebar_click_area{
  /*visibility: hidden;*/
  display: none;
  position: fixed;

  margin-left: 280px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: grey;
  opacity: 0.2;
  animation-name: c_ani_left;
  animation-duration: 0.4s;
}
@keyframes c_ani_left {
  from {margin-left:   0px   ;opacity:0}
  to   {margin-left: 280px   ;opacity:0.2}
}

.c-btn:hover{
  background-color:#4CAF50!important;
  color: white;
}
.c-btn{
  cursor: pointer;
  color: inherit;
  text-align: center;
  display: inline-flex;
  padding: 2px;
  padding-left: 8px;
  padding-right: 8px;
}


.c-select{
  padding-top: 4px;
  padding-bottom: 4px;
  border-bottom: 2px solid #2196F3;
  background: white;
}
.c-select:hover{
  background: #2196F3;
  color: white;
}


/* User Key List*/
.c-urow .w3-col{
  white-space: normal;
}

.c-klitem{
  display: block ruby;
  padding-bottom: 8px;
}
.c-keyfield{
  font-family: "Courier New", Courier, monospace;
  color: darkgreen;
}
.c-klitem .material-icons{
  float: right;
}

.c-input{
  padding-top: 4px;
  padding-bottom: 4px;
}


/* Time Input*/
.c-divider{
  height: 25px;
  width: 1px;
  border-style: solid;
  border-color: #c0c0c0;
  border-width: 0px 1px 0px 0px;
  margin-left: -1px;
  float: left;
}

.c-ti-body{
  padding-left: 22px;
  margin-top: -3px;
}

.c-ti-day{
  margin-bottom: 8px;
}

.c-ti-slots{
  overflow-x: auto;
}
.c-ti-slots div{
  min-width: min-content;
}
.c-ti-slots .w3-row-padding{
  display: flex;
}

.c-ti-slots-selection .ccb-container{
  width: inherit;
  margin: auto;
}
.c-ti-slots-label .w3-col{
  font-size: x-small;
}
/*.c-ti-slots .ccb-checkmark-hover{
  width: 35px;
}
*/
.c-ti-slots-options{
  display: flex;
  flex-wrap: wrap;
}
.c-ti-slots-options div{
  padding: 0px 8px 0px 8px;
}

.c-ptable .c-rrow {
  border-top:1px solid #ccc !important;
  margin-bottom: 4px !important;
}

.c-ptable .c-rrow[expanded="true"] .cw3-border {
  border-width: 1px;
  border-top: 0!important;
  border-right: 0!important;
  border-style: solid !important;
}
.c-ptable .c-rrow[expanded="false"] .cw3-border {
  border: 0!important;
}

.c-ptable .c-rrow[writable="true"] .c-active .cw3-border,
.c-ptable .c-rrow[writable="true"] .cw3-border.c-active {
  border-color: #4CAF50;
}

.c-ptable .c-rrow[writable="false"] .cw3-border{
  border-color: #ccc;
}


.c-ptable .c-rrow[expanded="false"] textarea {
  max-height: none !important;
}