<!DOCTYPE html>
<html>
<title>HEDWIG - FM2020 Programm-Info transfer Platform</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="static/css/w3.css">
<!-- <link rel="stylesheet" type="text/css" href="static/css/google-icon.css"> -->
<link rel="stylesheet" type="text/css" href="static/css/my_icons.css">

<link rel="stylesheet" type="text/css" href="static/css/c-style.css">
<link rel="stylesheet" type="text/css" href="static/css/ccb.css">

<link rel="shortcut icon" href="favicon.ico">
<!-- <script type="text/javascript" src="static/js/p_data.json"></script> -->
<script type="text/javascript" src="static/js/user.js"></script>
<script type="text/javascript" src="static/js/p_table.js"></script>
<script type="text/javascript" src="static/js/comm.js"></script>
<script type="text/javascript" src="static/js/func.js"></script>
<script type="text/javascript" src="get_static_definitions"></script>

<link rel="stylesheet" type="text/css" href="static/css/pl_index_styles.css">
<script type="text/javascript" src="static/js/pl_index_func.js"></script>

<style>
html, body{
  height: 100%;
}

</style>

<template id="p_table_templates">
<div class="c-ptable w3-padding-small" id="tmp_pt_main">
  <div class="w3-row-padding w3-padding-small w3-border-bottom w3-text-blue">
    <div class="w3-col s3">
      <div class="">Titel </div>
    </div>
    <div class="w3-col s6">
      <div class="">Beschreibung </div>
    </div>
    <div class="w3-col s3">
      <div class="">Ausrichter </div>
    </div>
  </div>

  <div  id="pt_body">
    <!-- rows go here -->
  </div>
    

  <div class="w3-padding-small w3-border-top w3-hide" id="btn_row_add_new">
  <div class="w3-button w3-hover-green">
  <i class="my-icons context-icons">add</i> neuer Programmpunkt
  </div></div>

</div>

<div class="c-rrow w3-row-padding w3-border-top w3-hover-blue" id="tmp_p_tablerow">
  <div class="c-spacer c-padding ">
    <div id="row_id" class=" w3-small c-rowid">????</div>
    <div class="w3-hide w3-padding-small c-tier2 w3-col" style="display: flow-root;">
      <i class="my-icons context-icons w3-button w3-hover-green" id="btn_close" 
        >up_alt</i>
        <!-- onclick="pt_row_view_collapse(this.closest('.c-rrow'))" -->
      <i class="my-icons context-icons w3-button w3-hover-green" id="btn_edit" 
        >edit</i>
        <!-- onclick="pt_row_make_writable(this.closest('.c-rrow'))" -->
      <i class="my-icons context-icons w3-button w3-hover-green" id="btn_undo" 
        >undo</i>
        <!-- onclick="pt_row_undo_changes(this.closest('.c-rrow'))" -->
      <i class="my-icons context-icons w3-button w3-hover-green" id="btn_done" 
        >done</i>
        <!-- onclick="pt_row_save_changes(this.closest('.c-rrow'))" -->
      <i class="my-icons context-icons w3-button w3-hover-green" id="btn_delete" 
        >delete_forever</i>
        <!-- onclick="pt_row_remove(this.closest('.c-rrow'))" -->
      <i class="w3-tooltip context-icons w3-button w3-hover-green" style="overflow: visible; opacity: unset; height: 24px;">
        <i class="my-icons" >
        info</i>
        <div style="position:absolute;margin-left:10px;" class="w3-text w3-text-0" id="tooltip_meta"></div>
      </i>
    </div>
    <div class="c-stable w3-col s3 c-field" id="Titel">
      <div class="c-stablehead w3-hide s3">Titel</div> 
      <div class="c-stablefield s9" >
         <!-- <input class="w3-border c-input" type="text" readonly maxlength="50"> -->
        <textarea class="w3-border-0 c-input c-active ta50" readonly maxlength="50" 
          placeholder="Benennt euer Programm (50 Zeichen)" 
          oninput="adjust_textarea_height(this)" >#titel</textarea>  
      </div>
    </div>
    <div class="c-stable w3-col s6 c-field" id="Kurztext">
      <div class="c-stablehead w3-hide s3">Kurztext</div>
      <div class="c-stablefield s9" >
        <textarea class="w3-border-0 c-input c-active ta160" readonly maxlength="160"
          placeholder="Beschreibt was ihr tut (160 Zeichen)" 
          oninput="adjust_textarea_height(this)" >#kurztext</textarea>  
      </div>
    </div>
    <div class="c-stable c-tier2 w3-col w3-hide c-field" id="Langtext">
      <div class="c-stablehead w3-hide s3">Langtext</div>
      <div class="c-stablefield s9" >
        <textarea class="w3-border-0 c-input c-active ta300" readonly maxlength="300" 
          placeholder="Beschreibt es nochmal (diesmal 300 Zeichen)" 
          oninput="adjust_textarea_height(this)" >#langtext</textarea>  
      </div>
    </div>
    <div class="c-stable c-tier2 w3-col w3-hide c-field" id="Geld_Anfrage">
      <div class="c-stablehead w3-hide s3">Geld Anfrage</div>
      <div class="c-stablefield s9" >
         <input class="w3-border-0 c-input c-active" type="number" min="0" readonly>
      </div>
    </div>
    <div class="c-stable c-tier2 w3-col w3-hide c-field" id="Geld_Limit">
      <div class="c-stablehead w3-hide s3">Geld Limit</div>
      <div class="c-stablefield s9" >
         <input class="w3-border-0 c-input c-active" type="number" min="0" readonly>
      </div>
    </div>

    <div class="c-stable c-tier2 w3-col w3-hide c-field c-active" id="Ort">
      <div class="c-stablehead w3-hide s3">Ort</div>
      <div class="c-stablefield s9 w3-container" >

      <div class="w3-row" id="Ort_std"><label class="ccb-container">
        Lagergrund
        <input type="radio" name="radio_Ort_x" checked="checked">
        <span class="ccb-radio-hover w3-border"></span>
      </label></div> 
      <div class="w3-row" id="Ort_cstm" style="display: flex;">
        <label class="ccb-container"  style="min-width: 130px">
          Anderer Ort:
          <input type="radio" name="radio_Ort_x">
          <span class="ccb-radio-hover w3-border"></span>
        </label>
        <input class="w3-border-0 c-input" type="text" id="cstmstr_Ort_x">
      </div> 

      </div>
    </div>

    <div class="c-stable c-tier2 w3-col w3-hide c-field c-active" id="Tags">
      <div class="c-stablehead w3-hide s3">Tags</div>
      <div class="c-stablefield s9 w3-container" >

        <div class="c-tag w3-row">
          <label class="ccb-container" id="mit_Anmeldung">
            <div class="ccb-label">Anmeldung erforderlich</div>
            <input type="checkbox">
            <span class="ccb-checkmark-hover w3-border"></span>
          </label>
        </div>

        <div class="c-tag w3-row">
          <label class="ccb-container" id="International">
            <div class="ccb-label">International (wir sprechen Englisch)</div>
            <input type="checkbox">
            <span class="ccb-checkmark-hover w3-border"></span>
          </label>
        </div>

        <div class="c-tag w3-row">
          <label class="ccb-container" id="Hinweise">
            <div class="ccb-label">Existenzielle Hinweise (in der Beschreibung)</div>
            <input type="checkbox">
            <span class="ccb-checkmark-hover w3-border"></span>
          </label>
        </div>

        <div class="c-tag w3-row">
          <div id="mindest_Alter" style="display: flex;">
  <!--           <label class="ccb-container w3-col" id="mA_6">
              <div class="ccb-label">Für alle</div>
              <input type="checkbox" disabled="disabled" checked="checked">
              <span class="ccb-checkmark-hover w3-border"></span>
            </label> -->
            <label class="ccb-container w3-col" id="mA_10">
              <div class="ccb-label">> 10J.</div>
              <input type="checkbox">
              <span class="ccb-checkmark-hover w3-border"></span>
            </label>
            <label class="ccb-container w3-col" id="mA_13">
              <div class="ccb-label">> 13J.</div>
              <input type="checkbox">
              <span class="ccb-checkmark-hover w3-border"></span>
            </label>
            <label class="ccb-container w3-col" id="mA_16">
              <div class="ccb-label">> 16J.</div>
              <input type="checkbox">
              <span class="ccb-checkmark-hover w3-border"></span>
            </label>
          </div>
        </div>

      </div>
    </div>


    <div class="c-stable c-tier2 w3-col w3-hide" id="Zeiten">
      <div class="c-stablehead w3-hide s3">Zeiten</div>
      <div class="c-stablefield s9" >
         <!-- <input class="w3-border-0 c-input" type="time" readonly> -->
      </div>
    </div>

    <div class="c-stable w3-col s3" id="Ausrichter">
      <div class="c-stablehead w3-hide s3">Ausrichter</div>
      <div class="c-stablefield s9">
        <div class="c-input"><i>this will be autogenerated</i></div>
      </div>
    </div>
  </div>
</div>

</template>

<template id="p_table_time_input_templates">

<!-- <div class="c-ti-table"> -->
<div class="c-ti-day c-active w3-row c-field">
  <div class="c-ti-head"
   onclick="c_colldiv_toggle(this.nextElementSibling, this.querySelector('input').checked)">
    <label class="ccb-container" id="Tag_X">
      <div class="ccb-label"></div>
      <input type="checkbox">
      <span class="ccb-checkmark-hover w3-border"></span>
    </label>
  </div>
  <!-- further divisions are to be placed here -->
</div>
<!-- </div> -->

<div class="c-colldiv c-ti-body c-ti-slots">
  <div class=" w3-border w3-padding-small">
    <div class=" w3-row-padding c-ti-slots-label">
      <div class="w3-col s2">09:30 - 10:10</div>
      <div class="w3-col s2">10:25 - 11:05</div>
      <div class="w3-col s2">11:20 - 12:00</div>
      <div class="w3-col s2">14:00 - 14:40</div>
      <div class="w3-col s2">14:55 - 15:35</div>
      <div class="w3-col s2">15:50 - 16:30</div>
    </div>
    <div class="w3-row-padding c-ti-slots-selection">
      <div class="w3-col s2"><label class="ccb-container" id="slot_1">
        <input type="checkbox">
        <span class="ccb-checkmark-hover w3-border"></span>
      </label></div> 
      <div class="w3-col s2"><label class="ccb-container" id="slot_2">
        <input type="checkbox">
        <span class="ccb-checkmark-hover w3-border"></span>
      </label></div> 
      <div class="w3-col s2"><label class="ccb-container" id="slot_3">
        <input type="checkbox">
        <span class="ccb-checkmark-hover w3-border"></span>
      </label></div> 
      <div class="c-divider"></div>
      <div class="w3-col s2"><label class="ccb-container" id="slot_4">
        <input type="checkbox">
        <span class="ccb-checkmark-hover w3-border"></span>
      </label></div> 
      <div class="w3-col s2"><label class="ccb-container" id="slot_5">
        <input type="checkbox">
        <span class="ccb-checkmark-hover w3-border"></span>
      </label></div> 
      <div class="w3-col s2"><label class="ccb-container" id="slot_6">
        <input type="checkbox">
        <span class="ccb-checkmark-hover w3-border"></span>
      </label></div> 
    </div>
    <div class="w3-border-top" style="margin:4px;"></div>
    <div class="c-ti-slots-options">
      <div>
      <label class="ccb-container" id="slot_combined"> Doppelstunde
        <input type="checkbox">
        <span class="ccb-checkmark-hover w3-border"></span>
      </label></div>
      <div>  
      <label class="ccb-container" id="slot_walkin"> Walk-In
        <input type="checkbox">
        <span class="ccb-checkmark-hover w3-border"></span>
      </label></div>  

    </div>
  </div>
</div>

<div class="c-colldiv c-ti-body c-ti-text">
  <!-- <div class=" w3-border w3-padding-small"> -->
    <input type="text" class="w3-border w3-padding-small" id="ti_text" readonly placeholder="z.B. 14:00 - 17:00">
  <!-- </div> -->
</div>

</template>

<template id="u_table_templates">
  <div class="c-utable w3-bar-block">

    <div class="w3-row-padding w3-bar-item w3-padding-top w3-padding-bottom w3-border-bottom w3-text-blue">
      <div class="w3-col s6">
        <div class="">Name </div>
      </div>
      <div class="w3-col s3">
        <div class="">Verband </div>
      </div>
      <div class="w3-col s3">
        <div class="">Keys </div>
      </div>
    </div>

    <!-- inject c-urow templates here -->

  </div>

  <div class="c-urow w3-row-padding w3-bar-item w3-padding-top w3-padding-bottom w3-border-bottom">
    <div id="u_id" class="w3-small c-rowid">????</div>
    <div class="w3-col s6">
      <div id="Name">?Name?</div>
    </div>
    <div class="w3-col s3">
      <div id="Verband">?Verband?</div>
    </div>
    <div class="w3-col s3">
      <div id="Key-List" class="w3-bar-block">
        <!-- inject templates c-klitem templates here -->
      </div>
    </div>
  </div>


<div class="c-klitem">
    <div class="c-keyfield">?Key?</div>
    <i class="my-icons c-key_delete_btn c-btn">clear</i>
</div>

</template>



<body onload="init_page_master()">
<div >

<div class="w3-sidebar w3-collapse w3-animate-left w3-border-right" style="width: 280px" id="sidebar">

    <button class="w3-button w3-hover-green w3-large w3-hide-large"
    onclick="w3_close_sidebar()"
    ><i class="my-icons">arrow_back_ios</i></button>


  <div class="w3-container w3-hide w3-bar-block" id="u_info_div" >
    <a class="">Eingeloggt als</a>
    <div  class="w3-container w3-bar-item">
      <div id="u_name" class="w3-text-blue"></div>
      <div id="u_ul"></div>
      <div id="u_vb"></div>
    </div>

    <div id="logout_btn" class="w3-bar-item w3-button w3-hover-blue">
      <a>Ausloggen</a>
    <i class="my-icons sidebar-icons">clear</i>
    </div>

  </div>
 
  <div class="w3-border-top w3-margin-left w3-margin-right"></div>

  <div class="w3-container w3-bar-block" id="server_info_div">
    Server-Status:
    <div id="status" class="w3-text-grey w3-bar-item">
      <i > noch nicht eingeloggt</i>
    </div>

    <div id="pd_changes" class="w3-bar-item w3-hide w3-text-green"></div>
    <div id="ud_changes" class="w3-bar-item w3-hide w3-text-orange"></div>

    <div id="sync_btn" class="w3-bar-item w3-button w3-hover-green w3-hide">
      <a>Synchronisieren</a>
    <i class="my-icons sidebar-icons">sync</i>
    </div>
  </div>

  <div class="w3-border-top w3-margin-left w3-margin-right"></div>


  <div class="w3-container w3-bar-block">

    <div class="c-menudiv w3-margin-top w3-leftbar w3-border-white" id="Home">
      <div class="w3-bar-item w3-button w3-hover-green">
        <a>Home</a>
        <i class="my-icons sidebar-icons">home</i>
      </div>
      <div class="c-colldiv w3-margin-left w3-bar-block">
      </div>
    </div>

    <div class="c-menudiv w3-margin-top w3-leftbar w3-border-white" id="Debugdiv">
      <div class="w3-bar-item w3-button w3-hover-green">
        <a>Debug Div</a>
        <i class="my-icons sidebar-icons">code</i>
      </div>
      <div class="c-colldiv w3-margin-left w3-bar-block">
      </div>
    </div>

    <div class="c-menudiv w3-margin-top w3-leftbar w3-border-white c-sl1" id="Programmeditor">
      <div class="w3-bar-item w3-button w3-hover-green">
        <a>Programmeditor</a>
        <i class="my-icons sidebar-icons">edit_list</i>
      </div>
      <div class="c-colldiv w3-margin-left w3-bar-block">
        <div class="c-submenudiv w3-leftbar w3-border-white" id="Mein_Programm">
          <a class="w3-bar-item w3-button w3-hover-blue" >Mein Programm</a>
        </div>
        <div class="c-submenudiv w3-leftbar w3-border-white" id="Wahlprogramm">
          <a class="w3-bar-item w3-button w3-hover-blue" >Wahlprogramm</a>
        </div>
        <div class="c-submenudiv w3-leftbar w3-border-white" id="Ringezeit">
          <a class="w3-bar-item w3-button w3-hover-blue" >Ringezeit</a>
        </div>
        <div class="c-submenudiv w3-leftbar w3-border-white" id="Besuchertag">
          <a class="w3-bar-item w3-button w3-hover-blue" >Besuchertag</a>
      </div>
    </div>
    </div>

    <div class="c-menudiv w3-margin-top w3-leftbar w3-border-white c-sl2" id="Zugangsverwaltung">
      <div class="w3-bar-item w3-button w3-hover-green">
        <a>Zugangsverwaltung</a>
        <i class="my-icons sidebar-icons">people_edit</i>
      </div>
      <div class="c-colldiv w3-margin-left w3-bar-block">
      </div>
    </div>

    <div class="c-menudiv w3-margin-top w3-leftbar w3-border-white c-sl2" id="Listengenerator">
      <div class="w3-bar-item w3-button w3-hover-green">
        <a>Listengenerator</a>
        <i class="my-icons sidebar-icons">file_multi</i>
      </div>
      <div class="c-colldiv w3-margin-left w3-bar-block">
      </div>
    </div>
  </div>

</div>

<div class="" id="close_sidebar_click_area"></div>

<div class="w3-main" style="margin-left: 280px; padding-top: 8px; height: 100%" id="main_frame">

  <button class="w3-button w3-hover-green w3-xlarge w3-hide-large" onclick="w3_open_sidebar()">&#9776;</button>


  <div class="c-bodydiv" id="Home" >
  
    <div class="w3-animate-opacity w3-margin w3-border" id="Willkommen">

      <div class="w3-text-green w3-container">
        <h3>Hedwig</h3> das WPBTRZ-Terminal</div>

      <div class="w3-container">
        <h3 class="w3-text-blue">Willkommen</h3>
        <p>Das hier ist as Terminal zur Bearbeitung von Wahlprogramm, Ringezeit und Besuchertag. Noch im Bau. Fragen an:</p>
        <a class="w3-text-green" style="cursor: pointer;" onclick="mail_to_nano()">
          <b>Nano</b> [@farbenmEEHr2020.de]
        </a>
        <div class="w3-padding-small"></div>
      </div>
    </div>    

    <div class="w3-container w3-margin w3-border" id="login_div">
      <h3 class="w3-text-blue">Login</h3>
      <div style="display: inline-flex;"> 
      <input type="text" class="w3-border w3-padding-small"  id="keyinputfield">
      <div class="w3-button w3-hover-green w3-margin-left-small" style="margin-left: 16px; overflow: visible;" onclick="login(document.querySelector('#keyinputfield').value)">Login</div>
      </div>
      <div class="w3-padding-small"></div>
    </div>


  </div>

  <div class="c-bodydiv" id="Programmeditor">

    <div class="c-subbodydiv w3-animate-opacity w3-margin w3-border" id="Mein_Programm">
      <div class="w3-container">
        <h3 class="w3-text-blue">Mein Programm</h3>
        <p>Hier siehst du alle Programmpunkte - für Wahlprogramm, Ringezeit und Besuchertag gemeinsam - aufgelistet.</p>
      </div>
    </div>

    <div class="c-subbodydiv w3-animate-opacity w3-margin w3-border" id="Wahlprogramm">
      <div class="w3-container">
        <h3 class="w3-text-blue">Wahlprogramm</h3>
        <p>Hier siehst du alles an Wahlprogramm.</p>
      </div>
    </div>

    <div class="c-subbodydiv w3-animate-opacity w3-margin w3-border" id="Ringezeit">
      <div class="w3-container">
        <h3 class="w3-text-blue">Ringezeit</h3>
        <p>Hier siehst du alle Ringezeit Programmpunkte.</p>
      </div>
    </div>

    <div class="c-subbodydiv w3-animate-opacity w3-margin w3-border" id="Besuchertag">
      <div class="w3-container">
        <h3 class="w3-text-blue">Besuchertag</h3>
        <p>Hier siehst du alles zum Besuchertag.</p>
      </div>
    </div>


  </div>

  <div class="c-bodydiv w3-animate-opacity c-sl2" id="Listengenerator" >
    <div class="w3-container w3-margin w3-border">
      <h3 class="w3-text-blue">Listengenerator</h3>
      <a onclick="pl_print_frame()" class="w3-hover-blue w3-button">Drucken</a>
      <a onclick="pl_add_page()"    class="w3-hover-blue w3-button">Füllen</a>
      <a onclick="pl_init_frame()"  class="w3-hover-blue w3-button">iframe init</a>

    </div>
    <div id="iframe_container" class="w3-margin"></div>

  </div>

  <div class="c-bodydiv c-sl2" id="Zugangsverwaltung" >
    <div class="w3-margin w3-border w3-container w3-animate-opacity" id="ukc_preamble_div">
      <h3 class="w3-text-orange"> disclaimer</h3>
      <div class="w3-border w3-button w3-hover-orange" id="ukc_active_btn">activate</div>
    </div>


    <div class="w3-margin w3-border w3-container w3-animate-opacity w3-hide" id="ukc_table_div">
      <h3 class="w3-text-blue">Aktive Keys</h3>
      <p>Hier siehst du alle Benutzer sowie deren Keys des Unterlagers [ Alle ].</p>

      <div class="w3-margin"></div>

      <!-- <div id="ukc_div"> -->
      <div id="ukc_table_container"></div>

      <div class="w3-margin"></div>

    </div>

    <div class="w3-margin w3-border w3-container w3-animate-opacity w3-hide" id="ukc_creation_div">
      <h3 class="w3-text-blue">Neue Keys / Benutzer hinzufügen</h3>
      <p></p>

      <div class="w3-margin"></div>

      <div class="w3-bar-block">
        <div class="c-urow w3-row w3-text-blue w3-border-bottom w3-small">
          <div class="w3-col s6">
              Name
          </div>
          <div class="w3-col s2">
              Verband
          </div>
          <div class="w3-col s2">
            Unterlager
          </div>
          <div class="w3-col s2">
            
          </div>
        </div>

        <div class="c-urow w3-row-padding w3-bar-item w3-padding-top w3-padding-bottom"
             id="ukc_creation_form">
          <div id="u_id" class=" w3-small c-rowid"></div>
          <div class="w3-col s6">
                <select class="w3-select c-select" name="Name_select" id="Name_select">
                  <option value="" disabled selected></option>
                  <option value="new_user">+ neuen Benutzer anlegen</option>
                </select>
                <input type="text" name="Name_manual" id="Name_manual" placeholder="Neuer Name" class="w3-hide c-input w3-border">
          </div>
          <div class="w3-col s2">
                <select class="w3-select c-select" name="Verband" id="Verband">
                  <option value=""></option>
                  <option value="BdP">BdP</option>
                  <option value="VCP">VCP</option>
                  <option value="DPSG">DPSG</option>
                  <option value="PSG">PSG</option>
                  <option value="sonstiges">sonstiges</option>
                </select>
          </div>
          <div class="w3-col s2">
            <!-- <div id="Unterlager"> -->
                <select class="w3-select c-select" name="Unterlager" id="Unterlager">
                </select> 
            <!-- </div> -->
          </div>
          <div class="w3-col s2">
            <div id="add_key_btn" class="w3-button c-btn  w3-hover-green">
              add
              <i class="my-icons">done</i>
            </div>
          </div>
        </div>
      </div>
    </div>

    </div>


    <div class="c-bodydiv" id="Debugdiv">

      <div class="w3-margin w3-border w3-animate-opacity w3-container"  >
          <h3 class="w3-text-blue">Monitoring server connection</h3>
          <div class="w3-row">
            <div class="w3-button w3-hover-blue" onclick="ping()">
              <a>Ping server</a>
              <i class="my-icons" >public</i>
            </div>

            <div style="display: inline-block;">
              <label class="ccb-container" id="auto_ping" oninput="auto_ping()">
                <div class="ccb-label">Autoping</div>
                <input type="checkbox">
                <span class="ccb-checkmark ccb-blue w3-border"></span>
              </label>
            </div>

          </div>

          <div id="server_connection_info" class="w3-bar-block">
            <div class="w3-bar-item w3-row">
              <div class="w3-col s4">Servertime/-status:</div>
              <div class="w3-col s6"><div id="sc_status"></div></div>
            </div>
            <div class="w3-bar-item w3-row">
              <div class="w3-col s4">Ping [ms]:</div>
              <div class="w3-col s6 w3-text-blue"><div id="sc_ping"></div></div>
            </div>
          </div>
      </div>

      <div class="w3-margin w3-border w3-container w3-animate-opacity"  >
          <h3 class="w3-text-blue">JSON data from server</h3>
          <div id="json_data_from_server" class="w3-small" style="white-space: pre-wrap; font-family: monospace;"> </div>
      </div>
      <div class="w3-margin w3-border w3-container w3-animate-opacity"  >
          <h3 class="w3-text-blue">JSON data to server</h3>
          <div id="json_data_to_server" class="w3-small" style="white-space: pre-wrap; font-family: monospace;"> </div>
      </div>
    </div>

  </div>

</div>

</div>
</body>

<script>




</script>

<script>

function mail_to_nano(){
  location.href = "mailto:nano"+"@"+"farbenmEEHr2020.de"
}

function update_page_visibilities(){
  if (!u_info){
    var to_hide = document.getElementsByClassName("c-sl2");
    for (var i = to_hide.length - 1; i >= 0; i--) {
      to_hide[i].classList.add("w3-hide")
    }
    var to_hide = document.getElementsByClassName("c-sl1");
    for (var i = to_hide.length - 1; i >= 0; i--) {
      to_hide[i].classList.add("w3-hide")
    }
  }
  else if (u_info.u_id.slice(2,4)=="00" || u_info.u_id[0]=="0"){
    var to_hide = document.getElementsByClassName("c-sl2");
    for (var i = to_hide.length - 1; i >= 0; i--) {
      to_hide[i].classList.remove("w3-hide")
    }
    var to_hide = document.getElementsByClassName("c-sl1");
    for (var i = to_hide.length - 1; i >= 0; i--) {
      to_hide[i].classList.remove("w3-hide")
    }
    if (u_info.u_id[0]=="0"){
      document.querySelector(".c-bodydiv#Programmeditor #Mein_Programm .w3-container").innerHTML +=
        "<p><i class='w3-text-blue'> Als Admin kannst du kein eigenes Programm anlegen !</i></p>"
    }
  }
  else{
    var to_hide = document.getElementsByClassName("c-sl2");
    for (var i = to_hide.length - 1; i >= 0; i--) {
      to_hide[i].classList.add("w3-hide")
    }
    var to_hide = document.getElementsByClassName("c-sl1");
    for (var i = to_hide.length - 1; i >= 0; i--) {
      to_hide[i].classList.remove("w3-hide")
    }
  }

}


function init_page_master(){
  init_navigation();
  init_user_funcs();

  open_subpage.call(document.querySelector("#Home div"));

  update_page_visibilities();
  // w3_open_sidebar();

}








</script>



</html>
