
<html>
<head>

<title>pl_page</title>

<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" type="text/css" href="static/css/w3.css">
<link rel="stylesheet" type="text/css" href="static/css/pl_frame_styles.css">
<!-- <link rel="stylesheet" type="text/css" href="static/css/google-icon.css"> -->
<link rel="stylesheet" type="text/css" href="static/css/my_icons.css">
<link rel="preload" as="font" href="/static/fonts/icomoon.woff" type="font/woff" crossorigin>


<style type="text/css">
.pl_row .w3-col, .pl_header_row .w3-col{
	padding: 6px;
}
.pl_header_row{
	font-weight: bold;
}
.pl_page{
	/*font-family: roboto;*/
}
</style>

<template>
<div class="pl_page_titel">
	<h1> Wahlprogramm im Unterlager  - Brownsea Island - </h1>
</div>

<div class="pl_page">
	<div class="pl_page_metainfo">
		<div>#Seite:  </div><div id="pl_meta_pageNo">?/? </div><div>  . . .  </div>
		<div>#Titel:  </div><div id="pl_meta_Titel"> ??? </div><div>  . . .  </div>
		<div>#Stand:  </div><div id="pl_meta_time">??.??, ??:??</div><div>  . . .  </div>
	</div>
	<div class="pl_subpage">
		<div class="pl_subpage_content">
		
			<div class="pl_header_row w3-row w3-text-blue">
				<div class="w3-col s3">Zeiten</div>
				<div class="w3-col s3">Titel</div>
				<div class="w3-col s3">Beschreibung</div>
				<div class="w3-col s2">Ausrichter</div>
				<div class="w3-col s1">Tags</div>
			</div>

		</div>
	</div>
</div>

<div class="pl_row w3-row w3-border-top">
	<div class="pl_row_id" id="Id"> row_id</div>
	<div class="w3-col s3" id="Zeiten"> s3</div>
	<div class="w3-col s3" id="Titel"> s5</div>
	<div class="w3-col s3" id="Beschreibung"> s4</div>
	<div class="w3-col s2" id="Ausrichter"> S2</div>
	<div class="w3-col s1" id="Tags"> s1 &#9983 <i class="material-icons pl_tags">home</i> </div>
</div>

</template>


</head>
<body onload="console.log('$ pl frame loaded')">
<!-- hack: forces to load font on page-rendering -->
<i class="my-icons" style="position: fixed; visibility: hidden;" >down_alt</i>
<!-- <i class="my-icons" >down_alt</i> -->

</body>
</html>